* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 100px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.06);
}
.logo {
  /* width: 129.1px; */
  height: 17px;
}
.nav-right {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}
.nav span {
  /* margin-right: 30px; */
  color: #666;
  font-size: 14px;
  /* padding: 0 10px; */
}
.nav span:hover {
  color: #387ed1;
  cursor: pointer;
}
.nav span i {
  font-size: 18px;
}

/*1 way to center image*/
.center {
  display: flex;
  justify-content: center;
  margin: 70px;
}
.landing-img {
  width: 51.5vw;
}

/*2nd way to center image*/
/* .landing-img {
  display: block;
  margin: 70px auto;
  width: 700px;
} */
.bottom {
  text-align: center;
  color: #424242;
}
.bottom > h1 {
  font-size: 44px;
  font-weight: 500;
}
.bottom > h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0 40px;
}
.bottom > button {
  background-color: #387ed1;
  margin-bottom: 100px;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}
.bottom > button:hover {
  background-color: white;
  color: #387ed1;
  border: 1px solid #387ed1;
  cursor: pointer;
}
